{% extends 'base.html.twig' %}

{% block body %}
    <h1>Camion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ camion.id }}</td>
            </tr>
            <tr>
                <th>Nbroues</th>
                <td>{{ camion.nbRoues }}</td>
            </tr>
            <tr>
                <th>Poid</th>
                <td>{{ camion.poid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('camion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('camion_edit', { 'id': camion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
